helloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.soap.maingel.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloWorldImplService" targetNamespace="http://web.soap.maingel.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://web.soap.maingel.com/" elementFormDefault="unqualified" targetNamespace="http://web.soap.maingel.com/" version="1.0">

  <xs:element name="User" type="tns:userDTO"/>

  <xs:element name="addAllUser" type="tns:addAllUser"/>

  <xs:element name="addAllUserResponse" type="tns:addAllUserResponse"/>

  <xs:element name="addUser" type="tns:addUser"/>

  <xs:element name="addUserResponse" type="tns:addUserResponse"/>

  <xs:element name="findAllUser" type="tns:findAllUser"/>

  <xs:element name="findAllUserResponse" type="tns:findAllUserResponse"/>

  <xs:element name="findUserById" type="tns:findUserById"/>

  <xs:element name="findUserByIdResponse" type="tns:findUserByIdResponse"/>

  <xs:element name="sayHi" type="tns:sayHi"/>

  <xs:element name="sayHiResponse" type="tns:sayHiResponse"/>

  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:userDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userDTO">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="gender" type="xs:int"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAllUser">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAllUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHi">
    <xs:sequence>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findUserById">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findUserByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAllUser">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:userDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAllUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part element="tns:sayHiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAllUser">
    <wsdl:part element="tns:addAllUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllUserResponse">
    <wsdl:part element="tns:findAllUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserById">
    <wsdl:part element="tns:findUserById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllUser">
    <wsdl:part element="tns:findAllUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserByIdResponse">
    <wsdl:part element="tns:findUserByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAllUserResponse">
    <wsdl:part element="tns:addAllUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi">
    <wsdl:part element="tns:sayHi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IHelloWorld">
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllUser">
      <wsdl:input message="tns:findAllUser" name="findAllUser">
    </wsdl:input>
      <wsdl:output message="tns:findAllUserResponse" name="findAllUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHi" name="sayHi">
    </wsdl:input>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUserById">
      <wsdl:input message="tns:findUserById" name="findUserById">
    </wsdl:input>
      <wsdl:output message="tns:findUserByIdResponse" name="findUserByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAllUser">
      <wsdl:input message="tns:addAllUser" name="addAllUser">
    </wsdl:input>
      <wsdl:output message="tns:addAllUserResponse" name="addAllUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldImplServiceSoapBinding" type="tns:IHelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUserById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findUserById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findUserByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAllUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addAllUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAllUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldImplService">
    <wsdl:port binding="tns:HelloWorldImplServiceSoapBinding" name="HelloWorldImplPort">
      <soap:address location="http://localhost:8080/soap/helloWorld"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>